<!DOCTYPE html>
<html lang="ru">

@@include("../blocks/modules/head/head.html")

<body>

    <!-- page -->
    <div class="wrapper">

        <!-- @including header -->
        @@include("../blocks/modules/header/header.html")

        <!-- page content -->
        <main class="main"></main>

        <!-- @including footer -->
        @@include("../blocks/modules/footer/footer.html")

    </div>
    <!-- endof page -->

    <!-- connecting scripts -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/vendor.js"></script>

</body>

</html>